<div class="password-footer text-center py-4 border-top w-100">
  <div class="password-footer__content text-sm color-subdued">
    This shop will be powered by <a href="//www.shopify.com" target="_blank" rel="nofollow" class="underlined-link">Shopify</a>
  </div>
</div>

<style>
  .border-top { border-top: 1px solid rgba(0,0,0,0.1); }
  .color-subdued { color: rgba(0,0,0,0.6); }
  .w-100 { width: 100%; }
</style>

{% schema %}
{
  "name": "Password footer",
  "settings": []
}
{% endschema %}
