<div class="password-main-content text-center py-8">
  <h2 class="h1 mb-4">Opening Soon</h2>
  {%- if shop.password_message != blank -%}
    <div class="password-message rte mb-8">
      {{ shop.password_message }}
    </div>
  {%- endif -%}
  <p class="h4">Find out when we open</p>
  {% form 'customer', class: 'newsletter-form mt-4 flex justify-center' %}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <div class="field flex">
      <input type="email" name="contact[email]" id="Email" class="field__input" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Email address" autocorrect="off" autocapitalize="off" required>
      <button type="submit" class="button button--primary ml-2">Subscribe</button>
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Password page",
  "settings": []
}
{% endschema %}
